__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
ENV/
env/
.venv/

*.log
db.sqlite3
media/
staticfiles/
static/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.coverage
htmlcov/
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.mo
*.pot

pip-log.txt
pip-delete-this-directory.txt

.env
*.env

*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py
